.mv-detail-container {
  .mv-title {
    display: flex;
    align-items: center;
    line-height: 32px;
    margin-bottom: 8px;
    .mv-icon {
      width: 29px;
      height: 18px;
      background-image: url("../../assets/images/icon2.png");
      background-repeat: no-repeat;
      background-position: -230px -480px;
    }
    .title {
      font-size: 24px;
      margin: 0 5px;
    }
    .songers {
      flex: 1;
      color: $mainLinkColor;
      line-height: 17px;
      margin: 6px 0 0 0;
      @include ellipsis();
      span {
        cursor: pointer;
        a {
          color: $mainLinkColor;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      span + span {
        &::before {
          content: "  /  ";
        }
      }
    }
  }
  .mv-desc {
    .publish-time,
    .playcount {
      color: #999;
      line-height: 18px;
    }
    .desc {
      line-height: 18px;
      margin-top: 10px;
    }
  }
}
