.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  // overflow: hidden;
}
.container .page-header-cointainer {
  width: 100%;
  // height: 70px;
}

.container .aside-content-container {
  width: 100%;
  flex: 1;
}

.container .aside-content-container {
  display: flex;
}

.container .aside-content-container .page-aside-container {
  width: 200px;
  margin-right: 20px;
  background-color: blueviolet;
}

.container .aside-content-container .page-content-container {
  flex: 1;
}
