.no-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 0;
  .no-data-icon {
    width: 36px;
    height: 29px;
    margin-right: 18px;
    background-image: url("../../assets/images/playlist.png");
    background-repeat: no-repeat;
    background-position: -138px 0;
  }
  .no-data-text {
    color: #aaa;
    font-size: 14px;
  }
}
