.hot-playlist-category-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  .tag-item {
    color: #666;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .tag-item + .tag-item {
    &::before {
      content: "|";
      margin: 0 10px;
    }
  }
}
