.album-baseinfo-container {
  margin-bottom: 27px;
  .top-field {
    display: flex;
    .playlist-img {
      position: relative;
      width: 209px;
      height: 177px;
      margin-right: 22px;
      .img {
        position: absolute;
        left: 0;
        width: 177px;
        height: 177px;
        @include bg-image();
      }
      .mask {
        width: 209px;
        height: 177px;
        background-image: url("../../assets/images/coverall.png");
        background-repeat: no-repeat;
        background-position: 0 -986px;
      }
    }
    .info-field {
      .title {
        display: flex;
        align-items: flex-start;
        margin-bottom: 12px;
        .icon {
          width: 54px;
          height: 24px;
          margin-right: 10px;
          background-position: 0 -186px;
          background-image: url("../../assets/images/icon.png");
          background-repeat: no-repeat;
        }
        .text {
          flex: 1;
          font-size: 20px;
          line-height: 24px;
        }
      }
      .creator,
      .publish-date,
      .company {
        display: flex;
        align-items: center;
        color: #666;
        margin-top: 6px;
        .label {
        }
        .text {
          a {
            color: #0c73c2;
          }
        }
      }
    }
    .btn-field {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 25px;
      .play-btn-container {
        display: flex;
        align-items: center;
        margin-right: 6px;
        font-size: 12px;
        .play-btn {
          display: flex;
          align-items: center;
          width: 66px;
          height: 31px;
          line-height: 31px;
          color: #fff;
          background-image: url("../../assets/images/button2.png");
          background-repeat: no-repeat;
          background-position: right -428px;
          padding: 0 5px 0 0;
          cursor: pointer;
          .play-icon {
            display: flex;
            align-items: center;
            height: 31px;
            line-height: 30px;
            padding: 0 0 0 10px;
            width: 100%;
            color: #fff;
            background-position: 0 -387px;
            background-image: url("../../assets/images/button2.png");
            background-repeat: no-repeat;
            .play {
              width: 20px;
              height: 18px;
              background-position: 0 -1622px;
              background-image: url("../../assets/images/button2.png");
              background-repeat: no-repeat;
            }
          }
        }
        .add-btn {
          width: 31px;
          height: 31px;
          margin-left: -3px;
          padding-right: 0;
          background-position: 0 -1588px;
          background-image: url("../../assets/images/button2.png");
          cursor: pointer;
          &:hover {
            background-position: -40px -1588px;
          }
        }
      }
      .store-btn {
        padding: 0 5px 0 0;
        margin-right: 6px;
        color: #333;
        // width: 89px;
        height: 31px;
        line-height: 30px;
        background-position: right -1020px;
        background-image: url("../../assets/images/button2.png");
        background-repeat: no-repeat, no-repeat;
        cursor: pointer;
        i {
          display: block;
          background-position: 0 -977px;
          padding: 0 7px 0 28px;
          height: 31px;
          line-height: 30px;
          width: 100%;
          font-style: normal;
          background-image: url("../../assets/images/button2.png");
        }
        &:hover {
          i {
            background-position: 0 -1063px;
          }
        }
      }
      .share-btn {
        padding: 0 5px 0 0;
        margin-right: 6px;
        color: #333;
        height: 31px;
        line-height: 30px;
        background-position: right -1020px;
        background-image: url("../../assets/images/button2.png");
        background-repeat: no-repeat, no-repeat;
        cursor: pointer;
        i {
          display: block;
          background-position: 0 -1225px;
          padding: 0 7px 0 28px;
          height: 31px;
          line-height: 30px;
          width: 100%;
          font-style: normal;
          background-image: url("../../assets/images/button2.png");
        }
        &:hover {
          i {
            background-position: 0 -1268px;
          }
        }
      }
      .download-btn {
        padding: 0 5px 0 0;
        margin-right: 6px;
        color: #333;
        height: 31px;
        line-height: 30px;
        background-position: right -1020px;
        background-image: url("../../assets/images/button2.png");
        background-repeat: no-repeat, no-repeat;
        cursor: pointer;
        i {
          display: block;
          background-position: 0 -2761px;
          padding: 0 7px 0 28px;
          height: 31px;
          line-height: 30px;
          width: 100%;
          font-style: normal;
          background-image: url("../../assets/images/button2.png");
        }
        &:hover {
          i {
            background-position: 0 -2805px;
          }
        }
      }
      .comments-btn {
        padding: 0 5px 0 0;
        margin-right: 6px;
        color: #333;
        height: 31px;
        line-height: 30px;
        background-position: right -1020px;
        background-image: url("../../assets/images/button2.png");
        background-repeat: no-repeat, no-repeat;
        cursor: pointer;
        i {
          display: block;
          background-position: 0 -1465px;
          padding: 0 7px 0 28px;
          height: 31px;
          line-height: 30px;
          width: 100%;
          font-style: normal;
          background-image: url("../../assets/images/button2.png");
        }
        &:hover {
          i {
            background-position: 0 -1508px;
          }
        }
      }
    }
  }

  .description {
    color: #666;
    margin-top: 10px;
    .label {
      margin-right: 10px;
      white-space: nowrap;
    }
    .text {
      line-height: 24px;
      white-space: pre-wrap;
    }
  }
}
