.album-baseinfo-container {
  margin-bottom: 27px;
  .top-field {
    display: flex;
    .playlist-img {
      position: relative;
      width: 209px;
      height: 177px;
      margin-right: 22px;
      .img {
        position: absolute;
        left: 0;
        width: 177px;
        height: 177px;
        @include bg-image();
      }
      .mask {
        width: 209px;
        height: 177px;
        background-image: url("../../assets/images/coverall.png");
        background-repeat: no-repeat;
        background-position: 0 -986px;
      }
    }
    .info-field {
      .title {
        display: flex;
        align-items: flex-start;
        margin-bottom: 12px;
        .icon {
          width: 54px;
          height: 24px;
          margin-right: 10px;
          background-position: 0 -186px;
          background-image: url("../../assets/images/icon.png");
          background-repeat: no-repeat;
        }
        .text {
          flex: 1;
          font-size: 20px;
          line-height: 24px;
        }
      }
      .creator,
      .publish-date,
      .company {
        display: flex;
        align-items: center;
        color: #666;
        margin-top: 6px;
        .label {
        }
        .text {
          a {
            color: #0c73c2;
          }
        }
      }
    }
  }

  .description {
    color: #666;
    margin-top: 10px;
    .label {
      margin-right: 10px;
      white-space: nowrap;
    }
    .text {
      line-height: 24px;
      white-space: pre-wrap;
    }
  }
}
