.dj-radio-list-container {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
  padding: 40px;
  .programme-container {
    display: flex;
    justify-content: space-between;
    height: 643px;
  }
}
