.home-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 249px;
  height: 126px;
  background-image: url("../../assets/images/icons_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  .prompt {
    margin: 0 22px;
    padding: 16px 0;
    color: #666;
    line-height: 22px;
  }
  .login-btn {
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 0 #8a060b;
    background-image: url("../../assets/images/icons_bg.png");
    background-repeat: no-repeat;
    background-position: 0 -195px;
    &:hover {
      background-position: -110px -195px;
    }
  }
}
