.music-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 53px;
  background-image: url("../../assets/images/playbar.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  transition: all 300ms ease-in-out;
  z-index: 7;
  .updown {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 67px;
    height: 67px;
    z-index: 4;
    .left-ud {
      position: relative;
      width: 52px;
      height: 67px;
      background-image: url("../../assets/images/playbar.png");
      background-repeat: no-repeat;
      background-position: 0 -380px;
      .lock-btn {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 18px;
        height: 18px;
        background-position: -80px -380px;
        background-image: url("../../assets/images/playbar.png");
        cursor: pointer;
        &.is-locked {
          background-position: -100px -380px;
        }
      }
    }
    .right-ud {
      width: 15px;
      height: 53px;
      background-image: url("../../assets/images/playbar.png");
      background-repeat: no-repeat;
      background-position: -52px -393px;
    }
  }
  .audio-container {
    position: relative;
    display: flex;
    align-items: center;
    width: $mainContentWidth;
    height: 53px;
    margin: 0 auto;
    .play-prev-next-btn-container {
      display: flex;
      align-items: center;
      width: 138px;
      .prev-btn,
      .next-btn {
        width: 28px;
        height: 28px;
        background-image: url("../../assets/images/playbar.png");
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .prev-btn {
        background-position: 0 -130px;
        &:hover {
          background-position: -30px -130px;
        }
      }
      .play-pause-btn {
        width: 36px;
        height: 36px;
        background-position: 0 -204px;
        margin: 0 8px;
        background-image: url("../../assets/images/playbar.png");
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
          background-position: -40px -204px;
        }
        &.is-playing {
          background-position: 0 -165px;
          &:hover {
            background-position: -40px -165px;
          }
        }
      }
      .next-btn {
        background-position: -80px -130px;
        &:hover {
          background-position: -110px -130px;
        }
      }
    }
  }
  .play-list-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 47px;
    left: 50%;
    width: $mainContentWidth;
    height: 300px;
    padding: 0 5px;
    transform: translateX(-50%);
    .play-list-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      background-position: 0 0;
      background-image: url("../../assets/images/playlist_bg.png");
      background-repeat: no-repeat;
      .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 554px;
        height: 100%;
        .title {
          margin-left: 30px;
          font-size: 14px;
          color: #e2e2e2;
        }
        .btns {
          display: flex;
          align-items: center;
          margin-right: 20px;
          cursor: pointer;
          .text {
            &:hover {
              text-decoration: underline;
            }
          }
          .save-all-btn {
            display: flex;
            align-items: center;
            color: #ccc;
            .save-all-btn-icon {
              width: 16px;
              height: 16px;
              background-image: url("../../assets/images/playlist.png");
              background-position: -24px 0;
              background-repeat: no-repeat;
              margin-right: 4px;
            }
          }
          .splite-line {
            height: 15px;
            border-left: 1px solid #000;
            border-right: 1px solid #2c2c2c;
            margin: 0 10px;
          }
          .clear-btn {
            display: flex;
            align-items: center;
            color: #ccc;
            .clear-btn-icon {
              width: 13px;
              height: 16px;
              background-image: url("../../assets/images/playlist.png");
              background-position: -51px 0;
              background-repeat: no-repeat;
              margin-right: 4px;
            }
          }
        }
      }
      .header-right {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1;
        height: 100%;
        .song-name {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          width: 80%;
          text-align: center;
          @include ellipsis();
        }
        .close-btn {
          position: absolute;
          right: 10px;
          width: 30px;
          height: 30px;
          background-image: url("../../assets/images/playlist.png");
          background-position: -195px 9px;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    }
    .play-list-content {
      display: flex;
      flex: 1;
      overflow: hidden;
      background-position: -1014px 0;
      background-image: url("../../assets/images/playlist_bg.png");
      background-repeat: repeat-y;
      .play-list-content-left {
        width: 554px;
        height: calc(300px - 40px);
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #868686;
        }
        &::-webkit-scrollbar-track {
          background-color: #000;
        }
        .play-list {
          height: 100%;
          .play-item {
            display: flex;
            align-items: center;
            width: 100%;
            height: 28px;
            padding-left: 15px;
            cursor: pointer;
            &:hover {
              color: #fff;
              background-color: rgba(0, 0, 0, 0.4);
              .songers {
                a {
                  color: #fff;
                }
              }
            }
            .playing-icon {
              visibility: hidden;
              width: 10px;
              height: 13px;
              margin: 0 5px 0 0;
              background-position: -182px 0;
              background-image: url("../../assets/images/playlist.png");
              background-repeat: no-repeat;
              &.active {
                visibility: visible;
              }
            }
            .song-name {
              width: 256px;
              color: #ccc;
              @include ellipsis();
            }
            .operator-container {
              width: 88px;
            }
            .songers {
              width: 70px;
              color: #9b9b9b;
              white-space: nowrap;
              @include ellipsis();
              span {
                cursor: pointer;
                a {
                  color: #9b9b9b;
                }
                &:hover {
                  text-decoration: underline;
                }
              }
              span + span {
                &::before {
                  content: "/";
                }
              }
            }
            .duration {
              color: #666;
              margin-left: 10px;
            }
            .goto-btn {
              width: 14px;
              height: 16px;
              margin-left: 25px;
              background-image: url("../../assets/images/playlist.png");
              background-position: -80px 0px;
              background-repeat: no-repeat;
              &:hover {
                background-position: -80px -20px;
              }
              a {
                display: block;
                width: 100%;
                height: 100%;
              }
            }
            &:hover {
              .song-name,
              .singer,
              .duration {
                color: #fff;
              }
            }
          }
        }
      }
      .play-list-content-right {
        flex: 1;
        padding: 20px 20px;
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #868686;
        }
        &::-webkit-scrollbar-track {
          background-color: #000;
        }
        .lyric-list {
          .lyric-line {
            p {
              font-size: 12px;
              text-align: center;
              color: #989898;
              height: 32px;
              line-height: 32px;
              @include ellipsis();
              &.active {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .audio-info-play-container {
    display: flex;
    align-items: center;
    .music-img {
      position: relative;
      width: 34px;
      height: 34px;
      margin-right: 15px;
      @include bg-image();
      .img-mask {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 34px;
        height: 35px;
        background-position: 0 -80px;
        background-image: url("../../assets/images/playbar.png");
        background-repeat: no-repeat;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .base-info-bar-container {
      .base-info-container {
        display: flex;
        align-items: center;
        margin: 6px 0;
        .name {
          max-width: 300px;
          a {
            color: #e8e8e8;
          }
          @include ellipsis();
        }
        .songers {
          max-width: 200px;
          margin-left: 15px;
          @include ellipsis();
          span {
            cursor: pointer;
            a {
              color: #9b9b9b;
            }
            &:hover {
              text-decoration: underline;
            }
          }
          span + span {
            &::before {
              content: "/";
            }
          }
        }
        .goto-btn {
          width: 14px;
          height: 16px;
          margin-left: 15px;
          background-image: url("../../assets/images/playbar.png");
          background-position: -110px -103px;
          background-repeat: no-repeat;
          a {
            display: block;
            width: 100%;
            height: 100%;
          }
          &:hover {
            background-position: -130px -103px;
          }
        }
      }
      .progress-bar-time-container {
        display: flex;
        align-items: center;
        .audio-play-progress-bar-container {
          position: relative;
          width: 434px;
          .total-bar {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 10px;
            background-image: url("../../assets/images/statbar.png");
            background-repeat: no-repeat;
            background-position: right 0;
          }
          .current-bar {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 10px;
            background-image: url("../../assets/images/statbar.png");
            background-repeat: no-repeat;
            background-position: left -66px;
            .change-progress-btn {
              position: absolute;
              top: 50%;
              right: -11px;
              transform: translateY(-50%);
              width: 22px;
              height: 24px;
              background-image: url("../../assets/images/iconall.png");
              background-repeat: no-repeat;
              background-position: 0 -250px;
              cursor: pointer;
            }
          }
        }
        .time-container {
          display: flex;
          align-items: center;
          margin-left: 14px;
          color: #797979;
          .current-time {
            color: #a1a1a1;
          }
          .split {
            margin: 0 4px;
          }
        }
      }
    }
  }
  .btns-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 6;
    .left-btns {
      display: flex;
      align-items: center;
      .inner-btn,
      .save-btn,
      .share-btn {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-image: url("../../assets/images/playbar.png");
        background-repeat: no-repeat;
      }
      .inner-btn {
        background-position: 0 0;
        background-image: url("../../assets/images/playbar_inner.png");
        background-repeat: no-repeat;
        &:hover {
          background-position: 0 -25px;
        }
      }
      .save-btn {
        margin: 0 5px;
        background-position: -88px -163px;
        &:hover {
          background-position: -88px -189px;
        }
      }
      .share-btn {
        background-position: -114px -163px;
        &:hover {
          background-position: -114px -189px;
        }
      }
    }
    .right-btns {
      display: flex;
      align-items: center;
      padding-left: 13px;
      margin-left: 10px;
      background-image: url("../../assets/images/playbar.png");
      background-repeat: no-repeat;
      background-position: -147px -248px;
      .volume-btn,
      .random-btn {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-image: url("../../assets/images/playbar.png");
        background-repeat: no-repeat;
      }
      .volume-btn-container {
        position: relative;
        width: 25px;
        height: 25px;
        .volume-btn {
          position: absolute;
          top: 0;
          left: 0;
          background-position: -2px -248px;
          &:hover {
            background-position: -31px -248px;
          }
        }
        .volume-dialog {
          display: none;
          position: absolute;
          top: -122px;
          left: 50%;
          transform: translateX(-50%);
          width: 32px;
          height: 124px;
          background-image: url("../../assets/images/playbar.png");
          background-repeat: no-repeat;
          background-position: 0 -503px;
          &.is-visible {
            display: block;
          }
        }
      }

      .random-btn {
        margin: 0 5px;
        background-position: -3px -344px;
        &:hover {
          background-position: -33px -344px;
        }
      }
      .play-list-btn {
        width: 60px;
        height: 25px;
        line-height: 25px;
        text-indent: 30px;
        color: #666;
        text-shadow: 0 1px 0 #080707;
        background-image: url("../../assets/images/playbar.png");
        background-position: -42px -68px;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
          background-position: -42px -98px;
        }
      }
    }
  }
  &.is-visible {
    transform: translateY(50px);
  }
}
