.music-player-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 53px;
  background-image: url("../../assets/images/playbar.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  transition: all 300ms ease-in-out;
  .updown {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 67px;
    height: 67px;
    z-index: 4;
    .left-ud {
      position: relative;
      width: 52px;
      height: 67px;
      background-image: url("../../assets/images/playbar.png");
      background-repeat: no-repeat;
      background-position: 0 -380px;
      .lock-btn {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 18px;
        height: 18px;
        background-position: -80px -380px;
        background-image: url("../../assets/images/playbar.png");
        cursor: pointer;
        &.is-locked {
          background-position: -100px -380px;
        }
      }
    }
    .right-ud {
      width: 15px;
      height: 53px;
      background-image: url("../../assets/images/playbar.png");
      background-repeat: no-repeat;
      background-position: -52px -393px;
    }
  }
  .audio-container {
    display: flex;
    align-items: center;
    width: $mainContentWidth;
    height: 53px;
    margin: 0 auto;
    .play-prev-next-btn-container {
      display: flex;
      align-items: center;
      .prev-btn,
      .next-btn {
        width: 28px;
        height: 28px;
        background-image: url("../../assets/images/playbar.png");
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .prev-btn {
        background-position: 0 -130px;
        &:hover {
          background-position: -30px -130px;
        }
      }
      .play-pause-btn {
        width: 36px;
        height: 36px;
        background-position: 0 -204px;
        margin: 0 8px;
        background-image: url("../../assets/images/playbar.png");
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .next-btn {
        background-position: -80px -130px;
        &:hover {
          background-position: -110px -130px;
        }
      }
    }
  }
  &.is-visible {
    transform: translateY(50px);
  }
}
