.App {
  .btn-field {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 12px;
    .play-btn-container {
      display: flex;
      align-items: center;
      margin-right: 6px;
      font-size: 12px;
      .play-btn {
        display: flex;
        align-items: center;
        width: 66px;
        height: 31px;
        line-height: 31px;
        color: #fff;
        background-image: url("./assets/images/button2.png");
        background-repeat: no-repeat;
        background-position: right -428px;
        padding: 0 5px 0 0;
        cursor: pointer;
        .play-icon {
          display: flex;
          align-items: center;
          height: 31px;
          line-height: 30px;
          padding: 0 0 0 10px;
          width: 100%;
          color: #fff;
          background-position: 0 -387px;
          background-image: url("./assets/images/button2.png");
          background-repeat: no-repeat;
          .play {
            width: 20px;
            height: 18px;
            background-position: 0 -1622px;
            background-image: url("./assets/images/button2.png");
            background-repeat: no-repeat;
          }
        }
      }
      .add-btn {
        width: 31px;
        height: 31px;
        margin-left: -3px;
        padding-right: 0;
        background-position: 0 -1588px;
        background-image: url("./assets/images/button2.png");
        cursor: pointer;
        &:hover {
          background-position: -40px -1588px;
        }
      }
    }
    .store-btn {
      padding: 0 5px 0 0;
      margin-right: 6px;
      color: #333;
      height: 31px;
      line-height: 30px;
      background-position: right -1020px;
      background-image: url("./assets/images/button2.png");
      background-repeat: no-repeat, no-repeat;
      cursor: pointer;
      i {
        display: block;
        background-position: 0 -977px;
        padding: 0 5px 0 28px;
        height: 31px;
        line-height: 30px;
        width: 100%;
        font-style: normal;
        background-image: url("./assets/images/button2.png");
      }
      &:hover {
        i {
          background-position: 0 -1063px;
        }
      }
    }
    .share-btn {
      padding: 0 5px 0 0;
      margin-right: 6px;
      color: #333;
      height: 31px;
      line-height: 30px;
      background-position: right -1020px;
      background-image: url("./assets/images/button2.png");
      background-repeat: no-repeat, no-repeat;
      cursor: pointer;
      i {
        display: block;
        background-position: 0 -1225px;
        padding: 0 5px 0 28px;
        height: 31px;
        line-height: 30px;
        width: 100%;
        font-style: normal;
        background-image: url("./assets/images/button2.png");
      }
      &:hover {
        i {
          background-position: 0 -1268px;
        }
      }
    }
    .download-btn {
      padding: 0 5px 0 0;
      margin-right: 6px;
      color: #333;
      height: 31px;
      line-height: 30px;
      background-position: right -1020px;
      background-image: url("./assets/images/button2.png");
      background-repeat: no-repeat, no-repeat;
      cursor: pointer;
      i {
        display: block;
        background-position: 0 -2761px;
        padding: 0 5px 0 28px;
        height: 31px;
        line-height: 30px;
        width: 100%;
        font-style: normal;
        background-image: url("./assets/images/button2.png");
      }
      &:hover {
        i {
          background-position: 0 -2805px;
        }
      }
    }
    .comments-btn {
      padding: 0 5px 0 0;
      margin-right: 6px;
      color: #333;
      height: 31px;
      line-height: 30px;
      background-position: right -1020px;
      background-image: url("./assets/images/button2.png");
      background-repeat: no-repeat, no-repeat;
      cursor: pointer;
      i {
        display: block;
        background-position: 0 -1465px;
        padding: 0 5px 0 28px;
        height: 31px;
        line-height: 30px;
        width: 100%;
        font-style: normal;
        background-image: url("./assets/images/button2.png");
      }
      &:hover {
        i {
          background-position: 0 -1508px;
        }
      }
    }
  }
  .left-right-layout {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    background: url("./assets/images/wrap4.png") repeat-y center 0;
    .left-field {
      width: 708px;
      padding: 47px 30px 40px 39px;
    }
    .right-field {
      flex: 1;
      padding: 20px 40px 40px 30px;
      overflow: hidden;
    }
  }
}
